@model List<FF.Web.Models.UserRoleViewModel>

@{
    ViewData["Title"] = "EditUserRoles";
    var roleId = ViewBag.roleId;
}

<h1>Edit User Roles</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="EditUserRoles" asp-route-roleId="@roleId">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group"></div>
            
            <div class="form-group">
                @for (int i = 0; i < Model.Count; i++)
                {
                    <div>
                        <input type="hidden" asp-for="@Model[i].UserId" />
                        <input type="hidden" asp-for="@Model[i].UserName" />
                        <input asp-for="@Model[i].IsSelected" class="form-check-input" />
                        <label class="form-check-label">
                            @Model[i].UserName
                        </label>
                    </div>
                }
                </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ListRoles" asp-controller="Administration">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
